*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#register,
    #login,
        main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#register,
    #login{
        line-height: 4rem;
    }

main{
    flex-direction: row;
    justify-content: space-evenly;
}